%html
	%head	
		%script{:src => "/public/js/bootstrap.js"}
		%meta{"http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8"}
		%title PPT
		%link{:href => "/public/css/bootstrap.css", :rel => "stylesheet"}
		%link{:href => "/public/css/bootstrap-responsive.css", :rel => "stylesheet"}/
	%body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
		
		.row-fluid
			.span3		
				%a{:href => "/?choice=piedra", :class => "btn btn-large btn-success"} Piedra
			.span3
				%a{:href => "/?choice=tijeras", :class => "btn btn-large btn-primary"} Tijera
			.span3
				%a{:href => "/?choice=papel", :class => "btn btn-large btn-default"} Papel
			
		%br		
		.row-fluid
			.sapn12
				%center  
					%h1 #{answer}
					%br
		.row-fluid			
			.span4
				%center				
					%h3 Ganadas: 
			.span4
				%center				
					%h3 Empatadas: 
			.span4
				%center				
					%h3 Perdidas: 



					
